.controls-container {
    background-color: #EBEBEC;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    width: 20em;
}

.turn {
    text-align: center;
    font-weight: bold;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.subtitle {
    display: block;
    text-decoration: underline;
}

.text {
    text-align: center;
}